{% extends 'core/base.html' %}

{% load static %}
{% load leaflet_tags %}

{% block head_js %}

{% endblock %}

{% block navbar %}
{% endblock %}

{% block body %}
<br>
<div class="container-fluid">
    <div class="col-sm-12 col-md-12">
        <div class="modal" id="modal1" data-keyboard="false" data-backdrop="static"
            [config]="{ignoreBackdropClick: true, backdrop: false, keyboard: false}">
            <div class="modal-dialog" role="document">
                <img src="{% static 'img/loading_3.gif' %}" alt="" width="200" height="200">
            </div>
        </div>
        {% include 'core/components/mapa.html' %}
    </div>
    <br>
    <div class="row">
        {% include 'core/components/tabla_global.html' %}
    </div>
</div>
{% endblock %}

{% block foot %}
{% endblock %}

